h1 {
    
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

*{
margin: 0px;
padding: 0px;
}
body{
font-family: arial;
background: #e3e9f7;
}
.main{

margin: 2%;
}

.card{
   width: 16%;
   float: left;
   box-shadow: 2px 2px 20px black;
   border-radius: 5px; 
   margin: 2%;
  }

.image {
width: 100%;
border-top-right-radius: 5px;
border-top-left-radius: 5px;

}

.title{

text-align: center;
padding: 10px;

}

h1{
font-size: 20px;
}

.des{
padding: 3px;
text-align: center;

padding-top: 10px;
      border-bottom-right-radius: 5px;
border-bottom-left-radius: 5px;
}

button {
background-color: #444141;
border-radius: 30px;
color: #fff;
cursor: pointer;
padding: 15px 30px;
font-size: 18px;
font-weight: bold;
letter-spacing: 1px;
border: none;
}

button:hover {
background-image: linear-gradient(90deg, #53cbef 0%, #dcc66c 50%, #ffa3b6 75%, #53cbef 100%);
animation: slidernbw 5s linear infinite;
color: #000;
}

@keyframes slidernbw {
to {
background-position: 20vw;
}
}

img{
width: 100;
}

header{
width: 80%;
height: 70px;
background: #fefefe;
display: flex;
align-items: center;
justify-content: space-between;
padding: 0 40px;
border-radius: 0 0 10px 10px;
margin: 0 auto;
}

.logo {
width: 120px;
margin-top: 8px;
}

nav .logo {
  display: none;
}

nav ul {
  display: flex;
}

nav ul li a {
  color: #212526;
  display: block;
  margin: 0 2px;
  font-weight: 600;
  padding: 8px 18px;
  transition: 0.2s;
  border-radius: 30px;
}

nav ul li a:hover {
  background: #f6f4ff;
}
nav ul li a:active {
background: #675cff;
color: #fff;
}

.hamburger {
  display: none;
  height: fit-content;
  cursor: pointer;
  padding: 3px 8px;
  border-radius: 5px;
  transition: 0.2s;
}

.hamburger:hover {
background: #f6f4ff;
}

.hamburger div {
width: 30px;
height: 2px;
margin: 6px 0;
background: #212526;
}

@media only screen and (max-width: 1100px) {
  header {
    width: 90%;
    padding: 0 20px;
  }
  nav {
    position: absolute;
    left: -300px;
    top: 0;
    z-index: 999;
    width: 280px;
    height: 100vh;
    background-color: #fefefe;
    transition: 0.2s;
    box-shadow: 2px 0 20px 0 rgba(0, 0, 0, 0.05);
  }
  #nav_check:checked ~ nav {
    left: 0;
  }
  nav .logo {
    display: block;
    height: 70px;
    display: flex;
    align-items: center;
    margin-left: 30px;
  }
  nav ul li a {
    margin-bottom: 5px;
    padding: 10px 15px;
    border-radius: 5px;
  }
  nav ul {
    display: block;
    padding: 0 20px;
    margin-top: 30px;
  }
  .hamburger {
    display: block;
  }
}

.responsive {
width: 100%;
height: auto;
}

